<div class="flex flex-col items-center bg-white mx-auto py-5 mb-3 | sm:max-w-2xl">
  <h2 class="font-bold text-xl text-center my-3 | sm:text-2xl"><%= @user.name %></h2>
  <% if @user == current_user %>
    <%= render "edit_profile" %>
  <% else %>
    <%= render "friendship_button", user: @user %>
  <% end %>
</div>

<div class="bg-white mx-auto py-5 px-5 mb-5 space-y-3 | sm:max-w-2xl sm:px-24">
  <h3 class="font-bold text-lg | sm:text-xl">Details</h3>
  <div class="text-slate-500 font-semibold space-y-3">
    <p>Joined on <%= format_date(@user.created_at) %></p>
    <p>Followed by <%= friends_count(@user) %></p>
    <p><%= get_location(@user) %></p>
  </div>
</div>