<div class="max-w-4xl w-11/12 mx-auto">
  <div class="flex items-center justify-between" data-controller="navbar">
    <div class="logo flex-1 text-2xl py-3 | sm:text-3xl sm:py-4">
      <%= link_to "FriendsZone", root_path %>
    </div>

    <%= link_to notifications_path, class: "relative block font-bold py-2 px-3 rounded-md mr-0.5 hover:bg-amber-400 ", data: { test_id: "notifications-link" } do %>
      <span class="absolute h-2.5 w-2.5 bg-blue-600 rounded-full top-2 right-3 outline outline-2 outline-amber-300 outline-offset-0 <%= "hidden" if seen_notifs %>"></span>
      <span class="sr-only">View notifications</span>
      <svg role="img" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
      </svg>
    <% end %>

    <div class="navbar-menu block cursor-pointer | sm:hidden" data-action="click->navbar#toggleMenu">
      <svg class="navbar-menu block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path class="navbar-menu stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>
      
    <div class="hidden absolute p-2 right-0 top-14 max-w-sm w-7/12 h-screen text-center text-sm bg-amber-300 z-50 | sm:flex sm:static sm:w-fit sm:h-fit sm:text-base" data-navbar-target="menu">
      <% if user_signed_in? %>
        <%= link_to "Find Friends", users_path, class: "block font-bold py-2 px-3 rounded-md hover:bg-amber-400", data: { test_id: "find-friends-link" } %>
        <%= link_to "@#{current_user.username}", user_path(current_user), class: "block font-bold py-2 px-3 rounded-md hover:bg-amber-400", data: { test_id: "profile-link" } %>
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block font-bold py-2 px-3 rounded-md hover:bg-amber-400" %>
      <% end %>
    </div>
  </div>
</div>