<div id=<%= "#{dom_id(post)}" %> class="bg-white shadow p-5">
  <p class="font-bold"><%= link_to post.user.name, post.user %></p>
  <p class="text-xs text-slate-500 font-semibold"><%= get_post_date(post) %></p>
  <p class="mt-4"><%= simple_format(post.content) %></p>

  <div class="flex mt-3">
    <p data-test-id=<%= "#{dom_id(post)}-likes-counter" %>>0</p>
  </div>

  <div class="grid grid-cols-2 gap-x-2 text-sm | sm:text-base">
    <%= render "likes/like_button", post: post %>
    <%= render "comments/comment_button", post: post %>
  </div>

  <%= turbo_frame_tag "show-#{dom_id(post)}-comments" do %>
    <div id="post-comments"></div>
  <% end %>
</div>
