<div id=<%= "#{dom_id(post)}" %> class="bg-white shadow p-5">
  <p class="font-bold"><%= link_to post.user.name, post.user %></p>
  <p class="text-xs text-slate-500 font-semibold"><%= get_post_date(post) %> | <%= get_post_time(post) %></p>
  <p class="mt-4"><%= simple_format(post.content) %></p>

  <div class="flex mt-3">
    <%= link_to "Comment", new_post_comment_path(post), data: { test_id: "#{dom_id(post)}_comments", turbo_frame: "#{dom_id(post)}_comments" }, class: "block bg-slate-900 text-white w-full rounded-md py-1 text-center font-bold hover:opacity-90" %>
  </div>

  <%= turbo_frame_tag "#{dom_id(post)}_comments" do %>
  <% end %>
</div>
