<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Friends Zone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A social media app that let's you connect with your friends.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <nav class="bg-amber-300 fixed h-14 w-full z-50 | sm:h-16">
          <div class="relative"><%= render "shared/navbar" %></div>
      </nav>
    <% end %>

    <main class="relative <%= "pt-14 | sm:pt-16" if current_user %>">
      <div class="transition-opacity duration-500 ease-in" data-controller="flash" data-flash-target="notif">
        <% if notice.present? %>
          <p class="notice absolute top-16 left-0 right-0 mx-auto w-11/12 py-1 mt-3 bg-green-100 border border-green-600 font-bold text-green-700 text-center | md:w-7/12 sm:mt-2"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert absolute top-16 left-0 right-0 mx-auto w-11/12 py-1 mt-3 bg-orange-100 border border-orange-600 font-bold text-orange-700 text-center | md:w-7/12 sm:mt-2"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
